.security-content {
  display: flex;
  width: 80%;
}

.security-details {
  margin-left: 5%;
}

.security-details p {
  width: 65%;
  line-height: 27px;
  color: rgb(61, 79, 96);
  font-size: 18px;
  margin: 1% 0;
}

.security-details h1 {
  color: rgb(18, 34, 49);
}

.security-details h4 {
  color: rgb(18, 34, 49);
  font-size: 18px;
}

@media (max-width: 768px) {
  .security-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .security-content img {
    width: 20%;
    margin: 3% 0;
  }

  .security-details p {
    width: 100%;
    line-height: 27px;
    color: rgb(61, 79, 96);
    font-size: 16px;
    margin: 3% 0;
  }

  .security-details h1 {
    color: rgb(18, 34, 49);
  }

  .security-details h4 {
    color: rgb(18, 34, 49);
    font-size: 18px;
  }
}