.footer-details {
  flex-direction: column;
  width: 60%;
  border-top: 1px solid grey;
  margin-left: 15%;
  align-items: start;
  font-size: 11px;
  line-height: 20px;
  color: rgb(168, 168, 168);
}

.details-description {
  width: 70%;
  margin-bottom: 3%;
}

.details-regulatory {
  width: 44%;
  margin-bottom: 2%;
}

.details-content {
  margin-left: -8.5%;
  margin-top: -5%;
}

@media (max-width: 768px) {
  .footer-details {
    margin-left: 5%;
  }
}