.investment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  background-color: #7912e5;
  padding: 60px 40px;
  border-radius: 20px;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.investment-card-text {
  flex: 1;
  color: white;
  max-width: 500px;
  background-color: #7912e5;
}

.investment-card-text h1 {
  font-size: 38px;
  margin-bottom: 20px;
  background-color: #7912e5;
}

.investment-card-text p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
  background-color: #7912e5;
  width: 57%;
}

.investment-card-text h5 {
  font-size: 16px;
  cursor: pointer;
  background-color: #7912e5;
  margin-top: 35%;
  margin-bottom: 10%;
}

.investment-card-image {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #7912e5;
}

.investment-details {
  background-color: white;
}

.investment-card-image img {
  width: 80%;
  height: auto;
  object-fit: contain;
  background-color: #7912e5;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .investment-card {
    flex-direction: column;
  }

  .investment-card-text {
    text-align: center;
  }

  .investment-card-text h1 {
    font-size: 32px;
    margin-bottom: 20px;
    background-color: #7912e5;
  }

  .investment-card-text p {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 1%;
    background-color: #7912e5;
    width: 100%;
  }

  .investment-card-text h5 {
    font-size: 16px;
    cursor: pointer;
    background-color: #7912e5;
    margin-top: 35%;
    margin-bottom: 3%;
  }

  .investment-card-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #7912e5;
    margin-top: 5%;
  }
}