.cta-section {
  width: 70%;
  margin-left: 12%;
  margin-bottom: 10%;
}

.cta-image img {
  width: 70%;
}

.cta-text {
  margin-top: 10%;
}

.cta-text h1 {
  font-size: 35px;
}

.cta-buttons {
  display: flex;
  gap: 15px;
  margin-top: 5%;
}

.cta-buttons p {
  border: 1px solid rgb(196, 196, 196);
  padding: 8px;
  font-size: small;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cta-buttons p:hover {
  margin-top: -1%;
  transition: 0.35s ease;
  border: 1px solid rgb(44, 44, 44);
}

@media (max-width: 768px) {
  .cta-section {
    flex-direction: column-reverse;
  }

  .cta-text {
    text-align: center;
    margin: 15% 0;
  }

  .cta-text h1 {
    width: 100%;
  }

  .cta-image img {
    width: 100%;
  }
}