.header-buttons {
  display: flex;
  gap: 1rem;
}

.header-button-signin {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  width: 90px;
  background-color: white;
}

.header-button-signup {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  background-color: #122231;
  color: white;
}

@media (max-width: 768px) {
  .header-buttons {
    display: none;
  }
}