.header-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-logo img {
  width: 28%;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-links a {
  color: #616770;
  text-decoration: none;
  font-weight: bold;
}

.header-links span img {
  vertical-align: middle;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .header-logo img {
    width: 80%;
  }

  .header-links {
    display: none;
  }
}