.featured-logos img {
  width: 10%;
  gap: 20px;
}

.featured-logos {
  gap: 50px;
  margin-left: 15%;
  display: flex;
  align-items: center;
  margin-top: -10%;
  padding-top: 0%;
  background-color: white;
}

@media (max-width: 768px) {
  .featured-logos {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin-left: -2%;
  }

  .featured-logos img {
    width: 80%;
  }
}