.savings-text h1 {
  font-size: 48px;
  color: rgb(18, 34, 49);
}

.savings-text p {
  color: rgb(61, 79, 96);
  font-size: 24px;
  margin-left: 3%;
  margin-top: 3%;
}

.savings-intro {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .savings-text h1 {
    font-size: 35px;
    color: rgb(18, 34, 49);
    text-align: center;
    margin-top: 15%;
  }

  .savings-text p {
    color: rgb(61, 79, 96);
    font-size: 16px;
    margin-left: 3%;
    margin-top: 5%;
    text-align: center;
  }
}