.savings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 438px);
  gap: 30px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 30px;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.item-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  pointer-events: none;
  width: 80%;
  background-color: #ffffff;
}

.item-1 h1 { color: #241fc3; font-size: 38px; margin: 3% 0; background-color: #ffffff; }
.item-1 p { color: rgb(61, 79, 96); width: 70%; line-height: 25px; font-size: 18px; margin-bottom: 40%; background-color: #ffffff; }
.item-1 h5 { color: #3934c3; background-color: #ffffff; }
.item-1 .item-overlay img { position: absolute; width: 45%; height: auto; object-fit: cover; opacity: 0; z-index: 1; bottom: 0; right: 5px; transform: scale(0.5); transform-origin: bottom right; transition: transform 0.5s ease, opacity 0.5s ease; background-color: #0f60d6; }
.item-1 .item-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; transition: opacity 0.4s ease; background-color: #0f60d6; }
.item-1 .overlay-text { background-color: #0f60d6; margin-top: 13%; margin-left: 6%; }
.item-1 .overlay-text h1 { background-color: #0f60d6; color: white; }
.item-1 .overlay-text p { background-color: #0f60d6; color: white; width: 60%; }
.item-1 .overlay-text h5 { background-color: #0f60d6; color: white; }

.item-2 h1 { color: #2295f2; font-size: 38px; margin: 2% 0; background-color: #ffffff; }
.item-2 p { color: rgb(61, 79, 96); width: 70%; line-height: 25px; font-size: 18px; margin-bottom: 30%; background-color: #ffffff; }
.item-2 h5 { color: #2295f2; background-color: #ffffff; }
.item-2 .item-overlay img { position: absolute; width: 45%; height: auto; object-fit: cover; opacity: 0; z-index: 1; bottom: 0; right: 5px; transform: scale(0.5); transform-origin: bottom right; transition: transform 0.5s ease, opacity 0.5s ease; background-color: #2295f2; }
.item-2 .item-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; transition: opacity 0.4s ease; background-color: #2295f2; }
.item-2 .overlay-text { background-color: #2295f2; margin-top: 10%; margin-left: 6%; }
.item-2 .overlay-text h1 { background-color: #2295f2; color: white; }
.item-2 .overlay-text p { background-color: #2295f2; color: white; width: 60%; }
.item-2 .overlay-text h5 { background-color: #2295f2; color: white; }

.item-3 h1 { color: #0fb259; font-size: 38px; margin: 2% 0; width: 200%; background-color: #ffffff; }
.item-3 p { color: rgb(61, 79, 96); width: 80%; line-height: 25px; font-size: 18px; margin-bottom: 40%; background-color: #ffffff; }
.item-3 h5 { color: #0fb259; background-color: #ffffff; }
.item-3 .item-overlay img { position: absolute; width: 45%; height: auto; object-fit: cover; opacity: 0; z-index: 1; bottom: 0; right: 5px; transform: scale(0.5); transform-origin: bottom right; transition: transform 0.5s ease, opacity 0.5s ease; background-color: #0fb259; }
.item-3 .item-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; transition: opacity 0.4s ease; background-color: #0fb259; }
.item-3 .overlay-text { background-color: #0fb259; margin-top: 11%; margin-left: 6%; }
.item-3 .overlay-text h1 { background-color: #0fb259; color: white; }
.item-3 .overlay-text p { background-color: #0fb259; color: white; width: 70%; }
.item-3 .overlay-text h5 { background-color: #0fb259; color: white; }

.item-4 h1 { color: #e5479b; font-size: 38px; margin: 2% 0; width: 200%; background-color: #ffffff; }
.item-4 p { color: rgb(61, 79, 96); width: 80%; line-height: 25px; font-size: 18px; margin-bottom: 30%; background-color: #ffffff; }
.item-4 h5 { color: #e5479b; background-color: #ffffff; }
.item-4 .item-overlay img { position: absolute; width: 45%; height: auto; object-fit: cover; opacity: 0; z-index: 1; bottom: 0; right: 5px; transform: scale(0.5); transform-origin: bottom right; transition: transform 0.5s ease, opacity 0.5s ease; background-color: #e5479b; }
.item-4 .item-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; transition: opacity 0.4s ease; background-color: #e5479b; }
.item-4 .overlay-text { background-color: #e5479b; margin-top: 19%; margin-left: 6%; }
.item-4 .overlay-text h1 { background-color: #e5479b; color: white; }
.item-4 .overlay-text p { background-color: #e5479b; color: white; width: 60%; }
.item-4 .overlay-text h5 { background-color: #e5479b; color: white; }

.item-5 h1 { color: #0b1923; font-size: 38px; margin: 2% 0; width: 200%; background-color: #ffffff; }
.item-5 p { color: rgb(61, 79, 96); width: 70%; line-height: 25px; font-size: 18px; margin-bottom: 30%; background-color: #ffffff; }
.item-5 h5 { color: #0b1923; background-color: #ffffff; }
.item-5 .item-overlay img { position: absolute; width: 45%; height: auto; object-fit: cover; opacity: 0; z-index: 1; bottom: 0; right: 5px; transform: scale(0.5); transform-origin: bottom right; transition: transform 0.5s ease, opacity 0.5s ease; background-color: #0b1923; }
.item-5 .item-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; transition: opacity 0.4s ease; background-color: #0b1923; }
.item-5 .overlay-text { background-color: #0b1923; margin-top: 19%; margin-left: 6%; }
.item-5 .overlay-text h1 { background-color: #0b1923; color: white; }
.item-5 .overlay-text p { background-color: #0b1923; color: white; width: 55%; }
.item-5 .overlay-text h5 { background-color: #0b1923; color: white; }

.item-6 h1 { color: #f87e33; font-size: 38px; margin: 2% 0; width: 200%; background-color: #ffffff; }
.item-6 p { color: rgb(61, 79, 96); width: 70%; line-height: 25px; font-size: 18px; margin-bottom: 30%; background-color: #ffffff; }
.item-6 h5 { color: #f87e33; background-color: #ffffff; }
.item-6 .item-overlay img { position: absolute; width: 45%; height: auto; object-fit: cover; opacity: 0; z-index: 1; bottom: 0; right: 5px; transform: scale(0.5); transform-origin: bottom right; transition: transform 0.5s ease, opacity 0.5s ease; background-color: #f87e33; }
.item-6 .item-overlay { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; transition: opacity 0.4s ease; background-color: #f87e33; }
.item-6 .overlay-text { background-color: #f87e33; margin-top: 19%; margin-left: 6%; }
.item-6 .overlay-text h1 { background-color: #f87e33; color: white; }
.item-6 .overlay-text p { background-color: #f87e33; color: white; width: 55%; }
.item-6 .overlay-text h5 { background-color: #f87e33; color: white; }

.grid-item:hover img,
.grid-item:hover .item-overlay {
  opacity: 1;
  transform: translate(0, 0);
}

.grid-item:hover .item-overlay img {
  transform: scale(1);
}

@media (max-width: 768px) {
  .savings-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 438px);
    gap: 30px;
    padding: 30px;
  }

  .item-overlay img {
    width: 200%;
  }
}